<div id="chart" ng-controller="chartController">
  <div class="col-md-4">
    <h1>Most liked songs</h1>
    <p ng-show="allTracks.length === 0">Nothing in the chart right now. Everyone's recommended tracks will show up here.</p>
    <div ng-repeat="track in allTracks | orderBy:sortType:sortReverse">
      <p>{{track.title}}</p>
      <p>{{track.recommends}} likes</p>
      <button ng-click="recommend(track)" class="btn btn-default">&hearts;</button>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
