<div id="search" ng-controller="searchController">
  <h1>SEARCH</h1>
  <form name="searchForm" ng-submit="search()">
    <input type="text" name="searchInput" placeholder="Search for a SoundCloud track..." ng-model="query">
    <button name="searchSubmit">Search</button>
  </form>
  <h1>RESULTS</h1>
  <div ng-repeat="result in searchResults">
    <p ng-click="recommend(result)">RECOMMEND</p>
    <p>{{result.title}}</p>
    <p>by {{result.user.username}}</p>
    <a href="{{result.permalink_url}}">Listen on SoundCloud</a>
  </div>
</div>
